
<div class="w3-display-container" style="margin-bottom:50px">
  <%= image_tag("pictures/intropark_welcome.jpg", :style=> "width:100%")%>
  <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
   style="bottom:30%;opacity:0.8;width:50%">
  <h1><p>WELCOME TO </p><h1><b>OZONE PARK</b></h1>
</div>


</div>

<div class="w3-row w3-container" style="margin:50px 0"> 
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <%= link_to welcome_about_path do %>
      <%= image_tag("pictures/history_welcome.jpg", :style=> "width:100%")%>
    <%end%>
    <br><br><h2><b>History of Ozone Park</b></h2>
    <p><i style="color:darkgoldenrod">Learn about Ozone Park's rich history</i></p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <%= link_to welcome_about_path do %>
    <%= image_tag("pictures/parks_welcome.jpg", :style=> "width:100%")%>
    <%end%>
    <h2><b>Parks and Recreation</b></h2>
    <p><i style="color:darkgoldenrod">View the beautiful parks in the neighborhood.</i></p>
  </div>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <%= link_to welcome_about_path do %>
    <%= image_tag("pictures/goodfellas_welcome.jpg", :style=> "width:100%")%>
    <%end%>
    <h2><b>Filmography</b></h2>
    <p><i style="color:darkgoldenrod">View some of the films shot in Ozone Park</i> </p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <%= link_to welcome_about_path do %>
    <%= image_tag("pictures/gotti_welcome.jpg", :style=> "width:100%")%>
    <%end%>
    <h2><b>Famous Residents</b></h2>
    <p><i style="color:darkgoldenrod">Learn about some of the famous people who have lived in Ozone Park.</i></p>
    </div>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <%= link_to welcome_about_path do %>
    <%= image_tag("pictures/aqueduct_welcome.jpg", :style=> "width:100%")%>
    <%end%>
    <h2><b>Aqueduct Racetrack</b></h2>
    <p><i style="color:darkgoldenrod">Eager to place a bet ? Visit the Racetrack!</i></p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <%= image_tag("pictures/apply_welcome.jpg", :style=> "width:100%")%>
    <h2><b>Apply here</b></h2>
    <p><i style="color:darkgoldenrod">Don't wait until it is to late.</i></p>
    </div>
</div>
</div>

<%= link_to 'History', welcome_about_path %>

