<p id="notice"><%= notice %></p>

<h3>APPLY FOR A JOB IN THE PARKS AND RECREATION DEPARTMENT IN OZONE PARK</h3>
<p>
  <strong>Firstname:</strong>
  <%= @resume.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @resume.lastname %>
</p>

<p>
  <strong>Role Applied for:</strong>
  <%= @resume.role %>
</p>

<p>
  <strong>Location Applied to:</strong>
  <%= @resume.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resume.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @resume.phone %>
</p>


<%= form_for([@resume, @resume.skills.build]) do |f| %>
  <p>
    <%= f.label :skill_title %><br>
    <%= f.text_field :skill_title %>
  </p>
  <p>
    <%= f.label :skill_level %><br>
    <%= f.text_field :skill_level %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_resume_path(@resume) %>
<%= link_to 'Back', resumes_path %>
<br><br>


<h3><b>Applicant Information</b></h3>
<p><b>First Name: </b><i><%= @resume.firstname %></i></p>
<p><b>Last Name:</b> <i><%= @resume.lastname %></i></p>
<p><b>Role Applied For: </b></i><%= @resume.role %></p>
<p><b>Location Applied to: </b></i><%= @resume.location %></p>
<p><b>E-mail: </b></i><%= @resume.email %></p>
<p><b>Phone Number: </b></i><%= @resume.phone %></p>

<br>
          
<h3><b>Applicant Skill Percentages</b></h3>
<p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i></b></p>
  <% @resume.skills.each do |skill| %>
      <p><%= skill.skill_title %></p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:<%= skill.skill_level %>"><%= skill.skill_level %></div>
      </div>
  <% end %>
